body {
    margin: 0;
}


#map {
    width: 100%;
    height: 100Vh;
}

.reviews {
    max-height: 120px;
    overflow: scroll;
}

.review {
    border-radius: 3px;
    border: 1px solid lightblue;
    margin: 3px 0;
}